@using BestFood.Core.ViewModels.Order
@using BestFood.Infrastructure.Enums
@{
	ViewData["Title"] = "My Orders";
}

@model IEnumerable<OrderDetailViewModel>

@if (Model.Count() == 0)
{
	<h3>No order history!</h3>
}
else
{
	@foreach (var order in Model)
	{
		<div class="order-card card">
			<div class="card-header  border-bottom mb-3">
				<h3 class="card-title ">Order: @order.Id</h3>
				<br>
				<span class="btn btn-tool">
					Address: @order.Address
				</span>
				<br>
				<span class="btn btn-tool">
					Phone Number: @order.Address
				</span>
				<div class="card-tools">
					<p class="d-flex flex-column text-right">
						<span class="font-weight-bold">
							@if (order.OrderStatus == OrderStatus.Pending)
							{
								<i class="fab fa-first-order-alt text-warning"></i> @order.OrderStatus
							}
							else if (order.OrderStatus == OrderStatus.Accepted)
							{
								<i class="fab fa-first-order-alt text-success"></i> @order.OrderStatus
							}
							else
							{
								<i class="fab fa-first-order-alt text-danger"></i> @order.OrderStatus
							}
						</span>
						<span class="text-muted">ORDER STATUS</span>
					</p>
					<span class="btn btn-tool">
						Date: @order.CreationDate
					</span>
				</div>
			</div>
			<div class="card-body">
				<div class="d-flex justify-content-between align-items-center border-bottom mb-3">
					<p>
						@foreach (var product in order.ProductsInfo.Split(", "))
						{
							@product
							<br />
						}
					</p>
					<p class="d-flex flex-column text-right">
						<span class="font-weight-bold">
							<i class="fas fa-hamburger text-warning"></i>
						</span>
						<span class="text-muted">ORDERED PRODUCTS</span>
					</p>
				</div>
				@if (!string.IsNullOrEmpty(order.Note))
				{
					<div class="d-flex justify-content-between align-items-center border-bottom mb-3">
						<p>
							@order.Note
						</p>
						<p class="d-flex flex-column text-right">
							<span class="font-weight-bold">
								<i class="fas fa-sticky-note text-danger"></i>
							</span>
							@if (order.OrderStatus == OrderStatus.Rejected)
							{
								<span class="text-muted">REJECTION NOTE</span>
							}
							else
							{
								<span class="text-muted">NOTE</span>
							}
						</p>
					</div>
				}

				<div class="d-flex justify-content-between align-items-center">
					<p></p>
					<p class="d-flex flex-column text-right">
						<span class="font-weight-bold">
							<i class="fas fa-money-bill-wave-alt text-success"></i> @order.Amount lv.
						</span>
						<span class="text-muted">TOTAL AMOUNT</span>
					</p>
				</div>

			</div>
		</div>
	}
}


@section Head{
<link rel="stylesheet" href="~/css/order.css" />
}