@using BestFood.Core.ViewModels.Cart
@{
	IEnumerable<CartItemViewModel> items = (IEnumerable<CartItemViewModel>)ViewBag.CartItems;
}
@model IEnumerable<CartItemViewModel>

@if (items != null && items.Count() > 0)
{
	@foreach (var cartItem in items)
	{
		<tr>
			<td>
				<div class="btn-group">
					@*onclick="location.href='@Url.Action("DecreaseQuantity", "ShoppingCart", new{id=@cartItem.Id})'"*@
					<button value="@cartItem.Id" type="button" class="btn btn-default decrease-button">-</button>
					<span class="btn btn-default">@cartItem.Quantity</span>
					<button value="@cartItem.Id" type="button" class="btn btn-default increase-button">+</button>
				</div>
			</td>
			<td>@cartItem.Name</td>
			<td>@(string.Join(", ", cartItem.IngredientNames))</td>
			<td>@Math.Round(cartItem.Price*cartItem.Quantity,2) lv.</td>
		</tr>
	}
	<tr>
		<td></td>
		<td></td>
		<th style="text-align:right">Total Price:</th>
		<th>@Math.Round(items.Sum(c=>c.Price*c.Quantity),2) lv.</th>
	</tr>
}
else
{
	<tr>
		<th colspan="4" style="text-align:center"><h2>The cart is Empty!</h2></th>
	</tr>
}

