@using BestFood.Core.ViewModels.Ingredient
@using BestFood.Infrastructure.Enums
 @{
	ViewData["Title"] = "All Ingredients";
}

@model IEnumerable<IngredientViewModel>
<div class="row ingredient-tables">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Sauces</h3>
			</div>
			<!-- /.card-header -->
			<div class="card-body table-responsive p-0" style="height: 300px;">
				<table class="table table-head-fixed text-nowrap">
					<thead>
						<tr>
							<th>Name</th>
							<th>Categories</th>
							<th colspan="2">Actions</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var ing in Model)
						{
							if (ing.Type == IngredientType.Sauce)
							{
								<tr>
									<td>@ing.Name</td>
									<td>@(String.Join(", ",ing.CategoryNames))</td>
									@if (User.Identity.IsAuthenticated)
									{
										<td>
											<a href="/Ingredient/Edit/@ing.Id" class="btn btn-block btn-info btn-sm">Edit</a>
										</td>
										<td>
											<a href="/Ingredient/Delete/@ing.Id" class="btn btn-block btn-danger btn-sm">Delete</a>
										</td>
									}
								</tr>
							}
						}

					</tbody>
				</table>
			</div>
			<!-- /.card-body -->
		</div>
		<!-- /.card -->
	</div>
</div>

<div class="row ingredient-tables">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Salads</h3>
			</div>
			<!-- /.card-header -->
			<div class="card-body table-responsive p-0" style="height: 300px;">
				<table class="table table-head-fixed text-nowrap">
					<thead>
						<tr>
							<th>Name</th>
							<th>Categories</th>
							<th colspan="2">Actions</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var ing in Model)
						{
							if (ing.Type == IngredientType.Vegetable)
							{
								<tr>
									<td>@ing.Name</td>
									<td>@(String.Join(", ",ing.CategoryNames))</td>
									@if (User.Identity.IsAuthenticated)
									{
										<td>
											<a href="/Ingredient/Edit/@ing.Id" class="btn btn-block btn-info btn-sm">Edit</a>
										</td>
										<td>
											<a href="/Ingredient/Delete/@ing.Id" class="btn btn-block btn-danger btn-sm">Delete</a>
										</td>
									}
								</tr>
							}
						}
					</tbody>
				</table>
			</div>
			<!-- /.card-body -->
		</div>
		<!-- /.card -->
	</div>
</div>

<div class="row ingredient-tables">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Meats</h3>
			</div>
			<!-- /.card-header -->
			<div class="card-body table-responsive p-0" style="height: 300px;">
				<table class="table table-head-fixed text-nowrap">
					<thead>
						<tr>
							<th>Name</th>
							<th>Categories</th>
							<th colspan="2">Actions</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var ing in Model)
						{
							if (ing.Type == IngredientType.Meat)
							{
								<tr>
									<td>@ing.Name</td>
									<td>@(String.Join(", ",ing.CategoryNames))</td>
									@if (User.Identity.IsAuthenticated)
									{
										<td>
											<a href="/Ingredient/Edit/@ing.Id" class="btn btn-block btn-info btn-sm">Edit</a>
										</td>
										<td>
											<a href="/Ingredient/Delete/@ing.Id" class="btn btn-block btn-danger btn-sm">Delete</a>
										</td>
									}
								</tr>
							}
						}
					</tbody>
				</table>
			</div>
			<!-- /.card-body -->
		</div>
		<!-- /.card -->
	</div>
</div>

@section Head{
<link rel="stylesheet" href="~/css/ingredientViews.css" />
}