@using BestFood.Core.ViewModels.Ingredient
@using BestFood.Infrastructure.Enums
@{
	ViewData["Title"] = "Edit Ingredient";
}

@model EditIngredientViewModel
<div class="background">
	<!-- general form elements -->
	<div class="card card-primary create-category-form">
		<div class="card-header">
			<h3 class="card-title">Ingredient</h3>
		</div>
		<!-- /.card-header -->
		<!-- form start -->
		<form method="post">
			@Html.HiddenFor(model => model.Id)
			<div class="card-body">
				<div class="form-group">
					<label asp-for="Name"></label>
					@if (Model != null)
					{
						<input asp-for="Name" value="@Model.Name" type="text" class="form-control" name="Name" placeholder="Enter name">
					}
					else
					{
						<input asp-for="Name" type="text" class="form-control" name="Name" placeholder="Enter name">
					}
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Type"></label>
					<select asp-for="Type" class="form-control" name="Type">
						@foreach (IngredientType ingredient in (IngredientType[])Enum.GetValues(typeof(IngredientType)))
						{
							@if (ingredient == Model.Type)
							{
								<option value="@((int)ingredient)" selected>@ingredient</option>
							}
							else
							{
								<option value="@((int)ingredient)">@ingredient</option>
							}
						}
					</select>
					<span asp-validation-for="Type" class="text-danger"></span>
				</div>
				<!-- checkbox -->
				<div class="form-group">
					<label asp-for="CategoryIds"></label>
					<div class="categories-selection">
						@foreach (var cat in ViewBag.Categories)
						{
							<div class="form-check">
								<input type="checkbox" value="@cat.CategoryId" checked="@cat.IsSelected" name="CategoryIds" />
								<label class="form-check-label">@cat.CategoryName</label>
							</div>
						}
					</div>
				</div>

				<div class="card-footer">
					<button type="submit" class="btn btn-primary create-button">Edit</button>
				</div>
			</div>
		</form>
	</div>
	<!-- /.card -->
</div>
@section Head{
<link rel="stylesheet" href="~/css/ingredientViews.css" />
}
@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}