@using BestFood.Core.ViewModels.User
@{
	ViewData["Title"] = "User Roles";
	var items = (IEnumerable<SelectListItem>)ViewBag.RoleItems;
}

@model UserRolesViewModel


<div class="background">
	<div class="card card-primary role-form">
		<div class="card-header">
			<h3 class="card-title">Edit Roles:  @Html.DisplayFor(m=>m.Name)</h3>
		</div>
		<form method="post">
			<div class="card-body">
				<input type="hidden" name="UserId" value="@Model.UserId" />
				<input type="hidden" name="Name" value="@Model.Name" />
				@*<div class="form-group">
					<h3>User: @Html.DisplayFor(m=>m.Name)</h3>
					</div>*@
				<div class="form-group">
					<label>User Roles</label>
					<select asp-for="RoleNames" asp-items="@items" class="select2bs4" multiple="multiple" data-placeholder="Selects a State"
							style="width: 100%;">
					</select>
				</div>
			</div>
			<div class="card-footer">
				<button type="submit" class="btn btn-primary save-button">Save Changes</button>
			</div>
		</form>
	</div>
	<!-- /.card -->
</div>

@section Head{
<link rel="stylesheet" href="~/css/roles.css" />
}